html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #333;
	background: #fbfbfb;
}
input[type="text"]{
	border: none;
	padding: 5px;
	width: 100px;
	cursor: pointer;
    height: 20px;
}
.clearfix:after,.clearfix:before{display:table;content:" "}.clearfix:after{clear:both}
.container{
	width: 980px;
	margin: 0 auto;
	background: #fff;
	padding: 20px;
}
fieldset{
	margin: 0;
	padding: 0;
	border: none;
}
label{
	display: inline-block;
	width: 150px;
	margin-right: 0 !important;
}
.button{
	cursor: pointer;
	display: inline-block;
	margin-top: 10px;
	padding: 5px 10px;
	text-align: center;
	background: #5cb85c;
	color: #fff;
    height: 20px;
}
#data-select-w{
	float: left;
	clear: both;
}
#data-select-w img{
	display: none;
	width: 50px;
}
#current_time{
	width: 300px;
	margin-left: 20px;
}
#loading{
	display: none;
}
#top{
	clear: both;
	margin: 0 0 20px 0;
}
#main{
	display: none;
}
#site-title{
	float: left;
	font-size: 18px;
	margin: 0;
	color: #0000ff;
	padding: 5px;
	border: 2px solid transparent;
	-moz-border-image: -moz-linear-gradient(top, #FF0000 0%, #0000FF 100%);
	-webkit-border-image: -webkit-linear-gradient(top, #FF0000 0%, #0000FF 100%);
	border-image: linear-gradient(to bottom, #FF0000 0%, #0000FF 100%);
	border-image-slice: 1;
}
#site-title span{
	color: #ff0000;
}
#site-authors{
	margin: 0;
	float: right;
	color: #bbb;
	font-size: 13px;
	margin-top: 10px;
	font-weight: normal;
	text-align: right;
}
#site-authors span{
	display: block;
	margin-bottom: 5px;
}
#map {
	height: 700px;
	margin-bottom: 80px;
	margin-top: 40px;
}
#floating-panel {
	display: none;
	position: absolute;
	top: 10px;
	left: 25%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
	padding-left: 10px;
}
#transparency{
	margin: 20px 0;
}
#data-select *, #transparency *{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	margin-right: 10px;
}
#data-select #data-upload{
	vertical-align: middle;
}
#data-select{
	float: left;
}
#timestamp{
	display: inline-block;
}
#attribute-gradient-w{
	display: none;
	position: relative;
	float: right;
}
#attribute-gradient{
	height: 30px;
	width: 300px;
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, blue, red); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, blue, red); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, blue, red); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, blue, red); /* Standard syntax */
}
#min-value{
	position: absolute;
	bottom: -20px;
	left: 0;
}
#max-value{
	position: absolute;
	bottom: -20px;
	right: 0;
}
#transparency span{
	margin-right: 10px;
}
#transparency .slider{
	width: 125px;
	margin-right: 25px;
}
#refresh-colors{
	margin-left: 10px;
	margin-top: 0;
}
#refresh-colors:hover{
	opacity: 0.9;
}